
@font-face {
    font-family: "Nanum Myeongjo";
    src: url("./assets/Fonts/Nanum_Myeongjo/NanumMyeongjo-ExtraBold.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("./assets/Fonts/Quicksand/Quicksand-VariableFont_wght.ttf");

  }

@font-face {
    font-family: "Sarabun";
    src: url("./assets/Fonts/Sarabun/Sarabun-Light.ttf");
}

@font-face {
    font-family: "Zilla Slab";
    src: url("./assets/Fonts/Zilla_Slab/ZillaSlab-Bold.ttf");
}


h1, .h1{
    font-family: 'Nanum Myeongjo';
    font-weight: normal;
}

h2, .h2{
   font-family: 'Quicksand';
   font-weight: normal;
}

h3{
    font-family: "Zilla Slab";
}

body{
    background-image: url(./assets/images/2-blue-watercolor-paint-on-canvas-abstract-art-background-michal-bednarek.jpg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
}


section{
    padding: 0;
    margin: 0;
}

.info{
    font-family: "Sarabun";
    font-size: 2.75vw;
    font-weight: 600;
}
.icon{
    height: 2vw;
    width: 2vw;
}

.foot{
    font-size: 1.5vw;
    
}

.pfp{
    height: 40vw;
    max-height: 250px;
    border-radius: 80%;
}
.gradient-background {
    background: linear-gradient(300deg, #1FBDED, #6F1FED, #B82EF0);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

.carousel-control-prev{
    filter: invert(100%);
}
.carousel-control-next{
    filter: invert(100%);
}
.carousel-indicators{
    filter: invert(100%);
}

.about-card{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
