<%- include('partials/header.ejs') %>
<div class="container-fluid d-flex flex-column mt-5">
    <div class="container-fluid pb-5 col-md-10 col-sm-12">
        <div class="card cardback2">
            <div class="clearfix">
                <img src="/assets/images/Vintage-Friendly-Boy.svg" alt="A waving  man" class="float-end" height="30%" width="30%">
                <h1 class="card-title goldtext text-center"><u>A little about me.</u></h1>
                <div class="card-body">
                    <p class="goldtext">Hi there!  I'm glad you came.  As I'm sure you know
                        my name is Patrick Proctor, but I tend to go by Azazel Azure.<br><br>
                        I am a self taught developer, utilizing multiple books and Udemy to teach me how to create
                        websites (like this one) and other programs.  So far, I've learn JavaScript and Python
                        for coding languages, and obviously I am well-versed in HTML and CSS. <br><br>
                        Besides coding, I like to spend my time singing karaoke while playing darts,
                        or trying to beat my personal best rubiks solve.  During my downtime, I'm often
                        online playing Valorant, Tekken, or other games on my pc or Xbox. Hopefully soon,
                        I'll be dedicating more time to recording cover songs.  I'll make sure to post those 
                        here once I do.  So make sure to come back!
                    </p>
                </div>
            </div>
        </div>
        <div class="card cardback2 my-5">
            <div class="clearfix">
                <img src="/assets/images/Thinking-v2.svg" alt="A thinking head" class="float-start" height="30%" width="30%">
                <h1 class="card-title goldtext text-center"><u>My Skills</u></h1>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h3 class="goldtext text-center"><u>Languages</u></h3>
                            <ul>
                                <li class="goldtext">Python</li>
                                <li class="goldtext">JavaScript</li>
                                <li class="goldtext">HTML</li>
                                <li class="goldtext">CSS</li>
                            </ul>
                        </div>
                        <div class="col">
                            <h3 class="goldtext text-center"><u>Frameworks & Libraries</u></h3>
                            <ul>
                                <li class="goldtext">Django</li>
                                <li class="goldtext">Node.js</li>
                                <li class="goldtext">Discord.py</li>
                                <li class="goldtext">wxPython</li>
                                <li class="goldtext">Bootstrap</li>
                                <li class="goldtext">jQuery</li>
                                <li class="goldtext">Express.js</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3 class="goldtext"><u>Currently Learning</u></h3>
                            <ul>
                                <li class="goldtext">MongoDB</li>
                                <li class="goldtext">PostgreSQL</li>
                                <li class="goldtext">TensorFlow</li>
                                <li class="goldtext">PyTorch</li>
                                <li class="goldtext">C++</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<%- include('partials/footer.ejs') %>