<%- include('partials/header.ejs') %>
<% if (locals.chess){ %>
<div class=" container-fluid">
    <div class="container d-flex">
        <div>
            <div id="board1" style="width: 400px;"></div>
            <button type="button" id="startGame">Start</button>
        </div>
    </div>
    
</div>
<% } %>

<%- include('partials/footer.ejs') %>