<%- include('partials/header.ejs') %>

<div class="container-fluid mt-5">
    <div class="container-fluid d-flex flex-column justify-content-center pb-5 " >
        <div class="card mb-3 cardback2 clearfix">
            <div class="clearfix">
                <img src="/assets/images/me.jpg" alt="A photo of me" class="float-end pfp">
                <div class="card-body text-center">
                    <h1 class="card-title goldtext">Hello There!</h1>
                    <h2 class="card-text goldtext"><br>My name Patrick "Azazel Azure" Proctor.<br>Welcome to my website!</h2>
                    <h2 class="card-text goldtext"><br>I hope you enjoy your stay</h2>
                </div>
            </div>               
        </div>
            
        <div class="card my-5 cardback2">
            <div class="card-body">
                <h3 class="goldtext py-5 text-center">Make sure to check out my blog (which is currently under construction) or take a peek at any of my other web development projects.</h3>
            </div>
        </div>
    </div>
    
</div>

<%- include('partials/footer.ejs') %>