
@font-face {
    font-family: "Nanum Myeongjo";
    src: url("/assets/Fonts/Nanum_Myeongjo/NanumMyeongjo-ExtraBold.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("/assets/Fonts/Quicksand/Quicksand-VariableFont_wght.ttf");

  }

@font-face {
    font-family: "Sarabun";
    src: url("/assets/Fonts/Sarabun/Sarabun-Light.ttf");
}

@font-face {
    font-family: "Zilla Slab";
    src: url("/assets/Fonts/Zilla_Slab/ZillaSlab-Bold.ttf");
}

@font-face {
    font-family: "League Script";
    src: url("/assets/Fonts/League_Script/LeagueScript-Regular.ttf");
}

@font-face {
    font-family: "Pacifico";
    src: url("/assets/Fonts/Pacifico/Pacifico-Regular.ttf");
}

h1, .h1{
    font-family: 'Nanum Myeongjo';
    font-weight: normal;
}

h2, .h2{
   font-family: 'Quicksand';
   font-weight: normal;
}

h3{
    font-family: "Zilla Slab";
}

a:link, a:visited{
    color: #e6c16a;
}

nav, .nav{
    background-color: #332941;
}

.goldtext{
    color: #e6c16a !important;
}

.sendButton{
    background-color: #864af9;
    border-radius: 10%;
    font-family: 'Zilla Slab';
}

.info{
    font-family: "Sarabun";
    font-size: 2.75vw;
    font-weight: 600;
}
.icon{
    height: 2vw;
    width: 2vw;
}

.foot{
    font-size: 1.5vw;
    
}

.cardback{
    background-color: #332941 !important;
    box-shadow: 7px 7px 5px black;
}

.cardback2{
    background-color: #332941 !important;
    box-shadow: -7px 7px 5px black;
}

.navtext{
    font-family: 'Pacifico' !important;
    color: #e6c16a !important;
    font-weight: 700;
}

.navdis{
    font-family: 'Pacifico' !important;
    font-weight: 700;
}

.logo{
    height: 100px;
    width: 100px;
}

.pfp{
    height: 25%;
    max-height: 300px;
}
.gradient-background {
    background: linear-gradient(300deg, #332941, #3b3486, #864af9);
    background-size: 20rem 20rem;
    animation: gradient-animation 18s ease infinite;
}

.carousel-control-prev{
    filter: invert(100%);
}
.carousel-control-next{
    filter: invert(100%);
}
.carousel-indicators{
    filter: invert(100%);
}

.navbar-nav > li > .dropdown-menu{
    background-color: #332941;
}

.toast-headbg{
    background-color: #332941 !important;
}

.toast-bodybg{
    background-color: #3b3486;
}